body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container-add-product-form {
    text-align: center;
    background-color: white;
    margin: 40px;
    padding: 40px;
    width: 500px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container {
    text-align: center;
}


h1 {
    margin-bottom: 50px;
    font-size: 2em;
    color: #333;
}

.button-container {
    display: inline-block;
    margin: 20px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    background-color: #007bff;
    color: white;
    text-align: center;
    font-size: 1.5em;
    border-radius: 10px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    position: relative;
    flex-direction: column;
}

.button i {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.button:hover {
    background-color: #0056b3;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-size: 1.2em;
    color: #333;
    margin-bottom: 5px;
}

input[type="text"], input[type="submit"] {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"] {
    padding: 15px;
    font-size: 1.2em;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

.success-message {
    margin-bottom: 20px;
    color: green;
    font-size: 1.2em;
}

.button-gray {
    background-color: #6c757d;
    color: white;
    text-align: center;
    font-size: 1.2em;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    transition: background-color 0.3s ease;
}

.button-gray:hover {
    background-color: #5a6268;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 1em;
    min-width: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}

thead tr {
    background-color: #007bff;
    color: #ffffff;
    text-align: left;
}

th, td {
    padding: 12px 15px;
    border: 1px solid #dddddd;
}

tbody tr {
    border-bottom: 1px solid #dddddd;
}

tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

tbody tr:last-of-type {
    border-bottom: 2px solid #007bff;
}

tbody tr:hover {
    background-color: #f1f1f1;
}

.error-container {
    text-align: center;
    margin-top: 50px;
}

.error {
    color: red;
    font-size: 0.9em;
    margin-top: 5px;
}